# testcases
crash-*
slow-unit-*
leak-*

# cache
__pycache__

# objects
*.[aoi]
*.py[cd]
videzzo-merge
videzzo-poc-gen

# temp files
videzzo_types.c
videzzo_qemu/*.h
videzzo_vbox/*.h
videzzo_qemu/out-*
videzzo_vbox/out-*
*.zip
*.yaml

# source code
videzzo_qemu/qemu
*.tar.gz
llvm-project
binutils-2.35
videzzo_vbox/vbox
