# testcases
crash-*
slow-unit-*
leak-*

# cache
__pycache__

# objects
*.[aoi]
*.py[cd]
vmm
vmm-debug
videzzo-merge

# temp files
videzzo_types.c
videzzo_vmm-00.h
videzzo_qemu/*.h
videzzo_qemu/*.h
videzzo_qemu/*.h
out
out-*
*.zip
*.yaml

# source code
qemu
*.tar.gz
llvm-project
binutils-2.35
